canvas{
  position:fixed;
  top:0;
  left:0;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

svg {
  position: absolute;
  letter-spacing: 0.15em;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  overflow: visible;
  right: 250px;
}

svg text {
  fill: white;
  stroke: white;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
 }

 .center {
  width: 1000px;
  float: left;
  display: table;
  position: relative;
  margin: auto;
  font-size: 40px;
  top: 0;right: 0;bottom: 0;left: 0;
  overflow: hidden;
  top:320vh;
  padding: 50px;
}
.nav a {
  color: white;
  font-family:'JetBrains Mono';
  display: inline-block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  font-size: 1em;
  
}
.nav a::first-line {
    font-size: 1em;
    line-height: 50px;
}
.nav a:hover {
  color: black;
  background: white;
}

@media (max-width: 768px) {
  .center {
    width: 100%;
  }
  .nav a {
    width: 100%;
  }
  .nav a::first-line {
    color: red;
    font-size: 0;
    line-height: 0;
  }
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}
